.navbar {
    background-color: #4CAF50;
    height: 80px;
    margin: 10px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    padding: 10px 15px;
}

/* Active Page Styling */
.nav-link.active {
    color: #fff;
    font-weight: bold;
}

/* Underline Effect */
.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link.active::after {
    width: 100%;
    left: 0;
}

/* Adjust Navbar Button */
.navbar-toggler {
    border: none !important;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Login Button */
.login-button {
    background-color: #fff;
    color: #4CAF50;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #198754;
    color: #fff;
}

/* Responsive Fix */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        display: block;
        padding: 10px;
    }
}

/* User and Cart Container */
#user-cart-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* navbar.css */

/* Login Button */
#login-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

#login-button:hover {
    background-color: #45a049;
}

/* Cart Icon and Count */
#cart-container {
    position: relative;
    cursor: pointer;
}

#cart-icon {
    width: 40px;
    height: 40px;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}