
.navbar {
    background-color: #4CAF50; 
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;


}



.navbar.scrolled {
    background-color: rgba(76, 175, 80, 0.9); /* Slight transparency */
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
    font-weight: 500;
    color: #000;
    font-size: 24px;
    transition: 0.3s color;
}

.d-flex {
    padding-right: 5%;
}    


.login-button {
    background-color: #fff;
    color: #4CAF50;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #198754;
    color: #fff;
}

.navbar-toggler {
    /* border: none; */
    border: none !important;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
.nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #fff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}